.hero-banner {
  background-color: rgb(255, 244, 225);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 40px 0px;

  .banner-text {
    text-align: left;

    h2 {
      font-size: 50px;
      font-weight: bold;
      line-height: 1.2;
      color: rgb(235, 174, 95);

      .italic-text {
        font-style: italic;
      }
    }

    p {
      font-size: 18px;
      margin-top: 20px;
      color: #855619;
    }

    .banner-buttons {
      margin-top: 25px;
    }
  }

  .banner-images {
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .tilt-left {
      transform: rotate(-8deg);
    }

    .tilt-right {
      transform: rotate(8deg);
    }

    img:hover {
      transform: scale(1.05);
    }
  }
}
.tailored-section {
  background: linear-gradient(to right, #1f1103 50%, #fff7e9);
  padding: 80px 0;

  .text-content {
    padding: 50px;

    h2 {
      color:#ffd399;
      font-size: 42px;
      font-weight: bold;
    }

    .italic-text {
      font-style: italic;
    }

    .underline {
      width: 80px;
      height: 3px;
      background-color: rgb(235, 174, 95);
      margin: 15px 0;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
      color: #fff;
    }
  }

  .image-content {
    display: flex;
    justify-content: center;

    .image-container {
      position: relative;
      max-width: 100%;

      img {
        width: 100%;
        border-radius: 5px;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(235, 174, 95);
        color: white;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background-color: #d45b08;
        }
      }
    }
  }
}
.showcases {
  padding: 80px 0;

  .section-header {
    margin-bottom: 30px;
  }

  .section-title {
    font-size: 34px;
    font-weight: bold;
    color: #995b0a;
  }

    .showcase-card {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
      }

      .showcase-text {
        margin-top: 15px;
        h4 {
          font-size: 20px;
          font-weight: bold;
          color: #995b0a;
        }

        .category {
          color: #d45b08;
          font-size: 14px;
        }
      }

      &:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0 20px 40px rgba(0,0,0,0.15);
      }
    }
}
.testimonial-section {
  text-align: center;
  background-color: #fdfcf7;
  padding: 60px 0;

  .testimonial-header {
    color: #995b0a;
    margin-bottom: 40px;
    font-size: 34px;
    font-weight: bold;
  }

  .main-quote {
    font-size: 1.8rem;
    font-weight: bold;
    color: #23432b;
    max-width: 800px;
    margin: 0 auto 40px;
  }

  .testimonial-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    border: 2px dotted rgb(235, 174, 95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    .quote-icon {
      position: absolute;
      top: -10px;
      left: -10px;
      background-color: #d66a3c;
      color: white;
      padding: 10px;
      border-radius: 50%;
    }

    .testimonial-content {
      display: flex;
      align-items: center;

      .testimonial-img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-right: 50px;
      }

      h5 {
        font-weight: bold;
        margin: 0;
      }

      .testimonial-role {
        color: #d66a3c;
        font-size: 0.9rem;
        margin: 0;
      }
    }
  }
}

/* Container Styling */
.recruitment-container {
  padding: 50px;
  background: linear-gradient(to right, #1f1103 50%, #fff7e9);
}

/* Left Side - Recruitment Steps */
.recruitment-info {
  color: white;
}

.section-title {
  font-weight: bold;
  text-transform: uppercase;
}

.main-title {
  color: rgb(235, 174, 95);
  font-weight: bold;
  font-size: 35px;
}

.description {
  margin-bottom: 20px;
}

.steps-list {
  list-style: none;
  padding: 0;
}

.steps-list li {
  margin-bottom: 15px;
}

.steps-list li::before {
  content: "✓";
  color: rgb(235, 174, 95);
  margin-right: 10px;
}
.steps-list strong {
  color: rgb(235, 174, 95);
  margin-right: 10px;
}

.steps-list p {
  margin: 5px 0 0;
}

/* Right Side - Consultation Form */
.form-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.form-heading {
  font-size: 18px;
  font-weight: bold;
}

.reach-link {
  text-decoration: none;
  color: #d45b08;
  font-weight: bold;
}

.form-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form Inputs */
.input-icon {
  position: relative;
}

.input-icon svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: rgb(235, 174, 95);
}

.input-icon input,
.input-icon select,
.input-icon textarea {
  padding-left: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #855619;
  height: 45px;
}

.textarea-icon textarea {
  padding-top: 15px;
  height: 120px;
}

/* Submit Button */
.send-btn {
  background-color: #d45b08 !important;
  border: none;
  padding: 12px 20px !important;
  font-weight: bold;
  border-radius: 8px !important;
  color: white !important;
}

.send-btn:hover {
  background-color: #005f5f;
}

/* Get Started button */
button.get-started {
  background-color: rgb(235, 174, 95); /* Orange background */
  color: white;
  border-color: rgb(235, 174, 95);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

button.get-started:hover {
  background-color: transparent; /* Darker orange on hover */
  border-color: rgb(235, 174, 95);
  color: rgb(235, 174, 95);
}

/* Learn More button */
button.learn-more {
  background-color: transparent; /* No background */
  color: rgb(235, 174, 95); /* Orange text */
  border-color: rgb(235, 174, 95);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

button.learn-more:hover {
  background-color: rgb(235, 174, 95); /* Orange background on hover */
  color: white;
  border-color: rgb(235, 174, 95);
  text-decoration: none;
}

.card-title-home {
  font-size: 20px;
  font-weight: 700 !important;
  color: #995b0a !important;
}
.card-description-home {
  font-size: 14px;
  color: #995b0a !important;
}
